*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    border: solid 2px black;
    margin: auto;
}

.html {
    font-size: 16px;
}

.nav-bar {
    border: solid 2px red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img img {
    width: 48px;
    height: 48px;
}