*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding-top: 0%;
}

.html {
    font-size: 16px;
}

.nav-bar {
    display: flex;
    padding-top: 0%;
    background-color: #24323d;
    color: #1ab188;
    justify-content: flex-start;
}

.nav-img img {
    width: 48px;
    height: 48px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 1000px) {
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .nav-bar {
        width: 30%;
        background-color: white;
        margin-top: 50px;
    }

    .generalInformation {
        width: 70%;
        padding: 1px 30px 0px 30px;
        border: solid 2px #24323d;
    }

    .nav-img {
        display: none;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #24323d;
        font-size: 1.75rem;
        color: #1ab188;
        font-weight: bold;
        letter-spacing: 0.3px;
        margin-top: 0%;
    }

}