*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.html {
    font-size: 16px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img img {
    width: 48px;
    height: 48px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 1000px) {
    .container {
        display: flex;
    }

    .nav-bar {
        width: 30%;
    }

    .generalInformation {
        width: 70%;
        padding: 30px;
    }

    .nav-img {
        display: none;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        display: flex;
        justify-content: center;
    }

}