.uniYear {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    color: gray;
}

.degree {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.educationShown {
     background-color: #24323d;
    color: #1ab188;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
}

.educationTitle {
    cursor: pointer;
}

.educationShown img {
    cursor: pointer;
}