.html {
    font-size: 16px;
}

.numEmailAddress {
    display: flex;
    gap: 10px;
}

.fullname {
    font-size: 1.5rem;
}

.phone,
.email,
.address {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.5em;
}

.titleCV {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
}