*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 2px;
    align-items: center;
}

.generalContainer{
    width: 80%;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #24323d;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.title {
    font-size: 1.75rem;
    color: #1ab188;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
    text-align: center;
}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 6px;
}

.form label{
    position: relative;
}

.form label input{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.submit {
    border: none;
    outline: none;
    background-color: #1ab188;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    transform: 0.3s ease;
    cursor: pointer;
}

.submit:hover {
   background: #1ec79a;
   transition: 0.3s;
}

.summary {
    height: 100px;
}

textarea {
  border: none;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  outline: none;
  width: 100%;
}

/**/

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}