*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.generalContainer {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}