*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.general {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.generalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.custom-field {
    position: relative;
    font-size: 1rem;
    padding-top: 1.25em;
    margin-bottom: 0.325em;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 1em;
    border-radius: 3px;
    width: 250px;
    outline: none;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 10px;
    font-size: 0.8rem;
    color: #222;
}

h2 {
    font-size: 1.5rem;
}