*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    font-size: 16px;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generalContainer {
    width: 80%;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #24323d;
    max-width: 100%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.submit {
    border: none;
    outline: none;
    background-color: #1ab188;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    transform: 0.3s ease;
    cursor: pointer;
}

.submit:hover {
    background: #1ec79a;
    transition: 0.3s;
}

.summary {
    height: 100px;
}

textarea {
    border: none;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    outline: none;
    width: 100%;
}

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 80%;
    border-radius: 10px 10px 0 0;
    background-color: #24323d;
    font-size: 1.75rem;
    color: #1ab188;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
    text-align: center;
}

.active,
.collapsible:hover {
    background-color: #24323d;
}

.collapsible:after {
    content: '+';
    font-size: 15px;
    color: #1ab188 !important;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "-";
}

@media (min-width: 1000px) {
    .general {
        width: 100%;
    }

    .generalContainer {
        width: 100%;
    }

    .collapsible {
        width: 100%;
    }
}