.html {
    font-size: 16px;
}

.numEmailAddress {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.fullname {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.generalContainerCV {
    display: flex;
    flex-direction: column;
}

.phone,
.email,
.address {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.titleCV {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
}

img {
    height: 15px;
    width: 15px;
}

.infoStatement{
    margin-top: 0;
    margin-bottom: 0;
}