*,
*::before,
*::after {
  box-sizing: border-box;
}

.navContainer {
  max-width: 1300px;
  margin: auto;
}

.sideNav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  height: 25px;
  width: 25px;
}